<h1>lets add a city</h1>

<h3>please add in the information on the city you would like to create</h3>

<form action="/save" method="post">
  <label for="name">City Name:</label>
  <input id="name" name="name" type="text">

  <label for="code">Country Code:</label>
  <input id="code" name="code" type="text">

  <label for="district">District:</label>
  <input id="district" name="district" type="text">

  <label for="population">City Population:</label>
  <input id="population" name="population" type="int">
  <button type="submit">Submit</button>
</form>
